[Desktop Entry]
Type=Application
Name=Reinked
Comment=Open a Reinked conversation or locator
Exec=reinked %f
TryExec=reinked
Icon=applications-internet
Terminal=false
Categories=Network;Chat;InstantMessaging;
Keywords=IRC;IRCX;comic;chat;
StartupNotify=true
StartupWMClass=comicchat
MimeType=application/x-comicchat-conversation;application/x-comicchat-locator;
